.detail{
    color: white;
}


.wrapper{
    width: 85%;
    align-content: center;
    margin:0 auto;

}


.slider{
    margin: auto;
    padding:auto;
    width: 95%;
    justify-items: center;
    color: black;
    margin-bottom: 2rem;
}

.slider img{
    position: relative;
    margin: 0 auto;
    height: 25rem;
    width: 36rem;
    border-radius: 0.5rem;
}

.price {
    border-radius: 1rem;
    padding: 0.15rem 1.1rem;
    background-color: #1b1b1b;
    color: white;
    font-size: 1.4rem;
    width: fit-content;
    margin-bottom: 0.3rem;
    margin-top: 0.4rem;
    text-align: center;
}


.h2{
    font-size: 2rem;
    color: black;
    line-height: 2rem;
}

.mediaSlider{
    margin: auto;
    padding:auto;
    width: 95%;
    justify-items: center;
    color: black;
    margin-bottom: 5rem;
}

.mediaSlider img{
    position: relative;
    margin: 0 auto;
    width: 100%;
    border-radius: 0.5rem;
}

.label{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.text{
    color: white;
    margin-top: 1rem;
}


.wrap{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    width: 100%;
}

.subtitle{
    color: white;
    font-size: 0.8rem;
}