.detail{
    color: white;
    text-align: center;
}


.wrapper{
    width: 85%;
    align-content: center;
    margin:0 auto;

}


.slider{
    margin: auto;
    padding:auto;
    width: 95%;
    justify-items: center;
    color: black;
    margin-bottom: 2rem;
}

.wrap label{
    font-size: 1.5rem;
}

.wrap h5{
    font-weight: 200;
    font-size: 1rem;
}

.slider img{
    position: relative;
    margin: 0 auto;
    height: 25rem;
    width: 36rem;
    border-radius: 0.5rem;
}

.price {
    border-radius: 1rem;
    color: white;
    font-size: 1.7rem;
    width: fit-content;
    text-align: center;
}


.h2{
    font-size: 2rem;
    color: black;
    line-height: 2rem;
}

.mediaSlider{
    margin: auto;
    padding:auto;
    width: 95%;
    justify-items: center;
    color: black;
    margin-bottom: 5rem;
}

.mediaSlider img{
    position: relative;
    margin: 0 auto;
    width: 100%;
    border-radius: 0.5rem;
}

.label{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.text{
    color: white;
    margin-top: 1rem;
    text-align: center;
    width: 100%;
}


.wrap{
    display: grid;
    grid-template-columns: auto auto;
    align-items: baseline;
    gap: 1.7rem;
    justify-content: space-around;
    width: 100%;
    padding: 2rem;
}

.subtitle{
    color: white;
    font-size: 0.6rem !important;
}


.slider ul li button::before{
    color: white;
}

