.item h3 {
  margin: 0.2rem 0;
  font-size: 1.25rem;
}

.card header {
  display: flex;
  flex-direction: row;
  line-height: 1rem;
  justify-content: space-between;
  align-items: baseline;
}
.card{
  line-height: 1rem;
}

h5{
   margin: 0;
}
.price {
  border-radius: 30px;
  padding: 0.25rem 1.5rem;
  color: black;
  font-size: 1.1rem;
  width: fit-content;
  margin-bottom: 0.1rem;
  font-weight:bold;
}

.item p {
  position: relative;
  color: #3a3a3a;
}

.actions {
  display: flex;
  justify-content: flex-end;
}

.container{
  position: relative;
  margin: auto;
  padding:auto;
  width: 83%;
  justify-items: center;
}

.container img{
  position: relative;
  margin: 0 auto;
  height: 20rem;
  width: 32rem;
  border-radius: 0.5rem;
}

.slider2 img{
  transform: translate(0%, 0);
  height: 5rem;
  width: 9rem;
  margin: 0 auto;
  
}

.slider2{
  margin-top:1.5rem;
  justify-content: space-between;
 
}

.card{
    margin: 0.7rem auto;
    border-radius: 6px;
    background-color: white;
    padding:1.5rem;
    width: 41rem;
    height: 37rem;
}

.media{
  margin: 0 auto;
  border-radius: 6px;
  border-color: white;
  border-bottom:white dotted 0.1rem;
  padding: 0.7rem;
  width: 95%;
  color: white;
}


.slider img{

  height: 13.5rem;
  max-width: 19rem;
  border-radius: 0.5rem;
  z-index: 100;
}

.media header{
  display: flex;
  flex-direction: row;
  line-height: 1rem;
  justify-content: space-between;
  align-items: baseline;
}


.title h3{
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 1rem;
  white-space: nowrap;
}

.title{
  display: flex;  
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.title label{
  display: flex;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: black;

}

.subtitle{
  font-size: 0.6rem;
  margin-bottom: 0.3rem;
}

.header{
  margin-bottom: 1rem;
}


.priceTag{
  font-weight: 800;
  font-size: 1.7rem;
}

.priceWrap{
  align-items: center;
  display: flex;
  flex-direction: column;
}

.left{
  justify-content: flex-start;

}

.right{
  display: flex;
  flex-direction: column;
}