@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');
@import "https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css";

* {
  box-sizing: border-box;
}

:root {
  --color-primary: #5ec576;
  --color-secondary: #ffcb03;
  --color-tertiary: #ff585f;
  --color-primary-darker: #4bbb7d;
  --color-secondary-darker: #ffbb00;
  --color-tertiary-darker: #fd424b;
  --color-primary-opacity: #5ec5763a;
  --color-secondary-opacity: #ffcd0331;
  --color-tertiary-opacity: #ff58602d;
  --gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
  --gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);
}


html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  font-family: sans-serif;
  margin: 0;
  background-color: #000000;
  grid-template-rows: auto 1fr auto;
}

.centered {
  margin: 3rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.focused {
  font-size: 3rem;
  font-weight: bold;
  color: white;
}

.btn {
  text-decoration: none;
  background-color: rgb(0, 0, 0);
  color: white;
  border-radius: 4px;
  padding: 0.75rem 1.5rem;
  border: 1px solid rgb(24, 24, 24);
  cursor: pointer;
}


.btn:hover,
.btn:active {
  background-color: #11acac;
  border-color: #11acac;
}

.btn--flat {
  cursor: pointer;
  font: inherit;
  color: teal;
  border: none;
  background-color: none;
  text-decoration: none;
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
}

.btn--flat:hover,
.btn--flat:active {
  background-color: teal;
  color: white;
}


 /* .slick-prev:before, .slick-next:before  {

  font-size: 3rem ;
  color: black ;
}  */


.section--hidden {
  opacity: 0.5;
  transform: translateY(10rem);
  align-items: center;
}

section {
  padding: 5rem 3rem;
  color: white;
  transition: transform 1s, opacity 1s;
  text-align: center;
  padding: 5rem 3rem;
  border-bottom: 1px solid #444;
}

.section__header {
  font-size: 4rem;
  line-height: 1.3;
  font-weight: 500;
}

.section__title {
  max-width: 80rem;
  margin: 0 auto 8rem auto;
}

.section__description {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--color-primary);
  margin-bottom: 1rem;
}

.btn {
  display: inline-block;
  background-color: var(--color-primary);
  font-size: 1.6rem;
  font-family: inherit;
  font-weight: 500;
  border: none;
  padding: 1.25rem 4.5rem;
  border-radius: 10rem;
  cursor: pointer;
  transition: all 0.3s;
}

.pagination {
  display: flex;
  list-style: none;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
}


